<h1 style="color:red;text-align: center;">UDP</h1><h1 style="text-align: center;">WebSearch</h1>
<form style="text-align: center;" action="/search" method="GET">
    <label for="search">Buscar:</label><br>
    <input style="width: 390px; height: 45px; border: 2px solid red" type="text" id="search" name="search"><br>
    <button style="background-color: grey; border-radius: 8px; color: black; width: 130px; margin-top: 20px;" type="submit">Buscar</button>
</form> 

<h4 style="text-align: center;background-color:darkgoldenrod; color:black">{{procedencia}}</h4>

<h5>Datos</h5>

<p>{{datos}}</p>